 @using ApplicationCore.DapperEntity
@model List<Customers>
@await Component.InvokeAsync("Inventory")
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<a class="btn btn-primary" asp-action="SaveRecord" asp-controller="Customers">
    Add New
    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
</a>
@* <a class="btn btn-primary col-mb-2 float-right" asp-action="ExportRecord" asp-controller="Customers">
    Export
      <i class="fa-solid fa-file-export"></i>

</a> *@
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <div class="container-fluid">

                <h1 class="h3 mb-2 text-gray-800">Products</h1>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Customers List</h6>

                    </div>
                    <div class="card mb-2 float-right">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>

                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Billing Address</th>
                                        <th>Shipping Address</th>
                                        <th>Created Date</th>
                                        <td> Created By</td>
                                        <th>Actions</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    @foreach (var records in Model)
                                    {
                                        <tr>
                                            <td hidden> @records.Id</td>
                                            <td> @records.Name </td>
                                            <td> @records.Email </td>
                                            <td> @records.BillingAddress </td>
                                            <td> @records.ShippingAddress </td>
                                            <td> @records.CreatedAt </td>
                                           <td> @records.AspNetUsers.UserName</td>

                                            <td>
                                                <a class="btn btn-primary" asp-action="Edit" asp-controller="Customers" asp-route-id="@records.Id">
                                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-danger" asp-action="Delete" asp-controller="Customers" asp-route-id="@records.Id">
                                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
@section scripts {
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>
}