 @using ApplicationCore.UseCases.Customers.Read
@model ReadCustomersResponse
@await Component.InvokeAsync("Inventory")
@inject Infrastructure.Services.LanguageServices LanguageServices
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
         

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">Customers Record</h6>
                            <a class="btn btn-primary" asp-action="SaveRecord" asp-controller="Customers">
                                @LanguageServices.GetKey("Add New").Value
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                 
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>

                                        <th>@LanguageServices.GetKey("Name").Value</th>
                                <th>@LanguageServices.GetKey("Email").Value</th>
                                        <th>@LanguageServices.GetKey("Billing Address").Value</th>
                                        <th>@LanguageServices.GetKey("Shipping Address").Value</th>
                                        <th>@LanguageServices.GetKey("Created Date").Value</th>
                                        <th> @LanguageServices.GetKey("Created By").Value</th>
                                <th> @LanguageServices.GetKey("Actions").Value</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    @foreach (var records in Model.Customers)
                                    {
                                        <tr>
                                            <td hidden> @records.Id</td>
                                            <td> @records.Name </td>
                                            <td> @records.Email </td>
                                            <td> @records.BillingAddress </td>
                                            <td> @records.ShippingAddress </td>
                                            <td> @records.CreatedAt </td>
                                           <td> @records.AspNetUsers.UserName</td>

                                            <td>
                                                <a class="btn btn-primary" asp-action="Edit" asp-controller="Customers" asp-route-id="@records.Id">
                                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-danger" asp-action="Delete" asp-controller="Customers" asp-route-id="@records.Id">
                                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


      

    </div>

</div>
@section scripts {
    
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>
}