 @using ApplicationCore.UseCases.Products.ReadProducts
 @inject Infrastructure.Services.LanguageServices LanguageServices
@{
    var selectedCategoryId = ViewBag.SelectedCategoryId as int?;
    var allProductsButtonClass = (ViewBag.SelectedCategoryId == null || ViewBag.SelectedCategoryId == 0) ? "btn btn-success" : "btn btn-primary";

}  
<style>
    .active-category {
        background-color: yellow;
        color: red    }
</style>
@model ReadProductsResponse
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@await Component.InvokeAsync("Inventory")
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        
            <div class="card">

                    <div class="card-header py-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">Products Record</h6>
                            <div class="d-flex">
                                <a class="btn btn-primary mr-2" asp-action="SaveProduct" asp-controller="Products">
                                    Add New
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-primary" asp-action="ExportRecord" asp-controller="Products">
                                    @LanguageServices.GetKey("Export").Value
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                          
                            <a class="@allProductsButtonClass" asp-action="Result" asp-controller="Products" asp-route-catid="">
                                All Products
                            </a>

                         
                           @foreach (var records in Model.Categories)
{
                                var buttonClass = ViewBag.SelectedCategoryId == @records.Id ? "btn btn-success" : "btn btn-primary";

                          <a class="@buttonClass" asp-action="Result" asp-controller="Products" asp-route-catid="@records.Id">
                                   @records.Name
                                 </a>
}

                            <hr />
 
                            <table class="table table-bordered" id="dataTable" width="100%" >
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>

                                        <th> @LanguageServices.GetKey("Name").Value</th>
                                        <th> @LanguageServices.GetKey("Description").Value</th>
                                        <th> @LanguageServices.GetKey("SKU").Value</th>
                                        <th> @LanguageServices.GetKey("Price").Value</th>
                                        <th> @LanguageServices.GetKey("Total Quantity Available").Value</th>
                                        <th> @LanguageServices.GetKey("Created Date").Value</th>
                                        <th hidden> CategoryId </th>
                                <th> @LanguageServices.GetKey("Category").Value</th>
                                <th> @LanguageServices.GetKey("User").Value</th>
                                <th> Images </th>
                                <th> @LanguageServices.GetKey("Actions").Value</th>
                           
                                    </tr>

                                </thead>
                                <tbody>

                                    @foreach (var records in Model.Products)
                                    {
                                        <tr>
                                            <td hidden> @records.Id</td>
                                            <td> @records.Name </td>
                                            <td> @records.Description </td>
                                            <td> @records.SKU </td>
                                            <td> @records.Price </td>
                                            <td> @records.quantity </td>
                                            <td> @records.CreatedAt </td>
                                            <td hidden> @records.CategoryID </td>
                                            <td> @records.Category.Name  </td>
                                            <td> @records.AspNetUsers.UserName</td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="ShowImages" asp-controller="Products" asp-route-id="@records.Id">
                                            <i class="fas fa-regular fa-images"></i>
                                        </a>
                                        </td>

                                            <td>
                                        <a class="btn btn-primary" asp-action="AddorEditImages" asp-controller="Products" asp-route-id="@records.Id">
                                            <i class="fas fa-solid fa-image"></i>
                                        </a>
                                                <a class="btn btn-primary" asp-action="Edit" asp-controller="Products" asp-route-id="@records.Id">
                                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                                </a>

                                                <a class="btn btn-danger" asp-action="Delete" asp-controller="Products" asp-route-id="@records.Id">
                                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
              

            </div>

    

    </div>

</div>
@section scripts {
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>
}