@using ApplicationCore.UseCases.Products.DisplayImages;
@model DisplayImagesResponse
@inject Infrastructure.Services.LanguageServices LanguageServices
<!-- Custom fonts for this template -->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Page Wrapper -->
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Product Images   [  @Model.ProductName  ]</h6>

                    
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" asp-action="DownloadAllImages" asp-controller="Products" asp-route-Id="@Model.ProductId"> Download All </a>
            </div>

            <div class="card-body">
                <div class="row">
                    @foreach (var records in Model.productsImage)
                    {
                        var size = records.ImageSize / 1024;

                        <div class="col-md-3 ">
                            <div class="card container-fluid">
                                <img src="@Url.Content("~/" + records.ImagesPath.Replace("\\", "/"))" style="height:200px;" alt="Product Image" />


                                <div class="card w-100">

                                    <p>  @records.ImageName.@records.ImageType  </p>
                                    <h5> Image Size : @size kb </h5>

                                    <!-- Download Button -->
                                    <a href="@Url.Content("~/" + records.ImagesPath.Replace("\\", "/"))" download="@records.ImageName.@records.ImageType" class="btn btn-primary">
                                        Download Image
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>
}